/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mosne-dark-palette {

	&,
	li {
		list-style: none;
	}

	button {
		appearance: none;
		padding: 0;
		border: 0;
		font: inherit;
		color: inherit;
		background: inherit;
		line-height: inherit;
		cursor: pointer;
		white-space: nowrap;

		&:hover span {
			text-decoration: underline;
		}
	}

	ul li button {
		padding: 0.5em 1em;
		width: 100%;
		text-align: left;
	}

	&.hide-icon {
		button::before {
			display: none;
		}
	}

	&.has-icon {
		button {
			&::before {
				content: '';
				width: .8lh;
				height: .8lh;
				margin-top: .1lh;
				aspect-ratio: 1;
				margin-right: .25lh;
				display: inline-block;
				background: currentColor;
				vertical-align: top;
				mask: url("../../assets/auto.svg") no-repeat;
				mask-size: auto 100%;
				mask-position: center center;
			}

			&.has-icon--light {
				&::before {
					mask: url("../../assets/light.svg") no-repeat;
				}
			}

			&.has-icon--dark {
				&::before {
					mask: url("../../assets/dark.svg") no-repeat;
				}
			}
		}
	}

	&.hide-label {
		// sr-only
		> button,
		.has-child > button {

			> span {
				width: 1px;
				height: 1px;
				padding: 0;
				margin: -1px;
				overflow: hidden;
				clip: rect(0, 0, 0, 0);
				white-space: nowrap;
				border-width: 0;
				display: inline-block;
			}

			&::before {
				margin-right: 0;
			}
		}
	}
}
