/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mosne-dark-palette {

	&__parlette {
		display: flex;
		flex-wrap: wrap;

		&-item {
			flex: 1 1 50%;
		}
	}
}

